body {
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar {
    width: 150px;
}

.card {
    width: 400px;
    height: 150px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #a7d397;
    color: #2b2839;
    border-bottom: 8px solid #7fa1c3;
    border-radius: 5px; 
}

.card:hover {
    transform: transkateY(-10px);
    box-shadow: 0 8px 16px rgba(214, 226, 218, 1);
}

.content {
    margin-top: -10px;
}

.border-blue {
    border: 1px dotted blue;
}
